<div class="main">
  <div class="main-image">
    <img class="main-image-img"
      style="width:100%;object-fit: contain;" 
      onload="this.classList.add('loaded')" 
      src="/assets/avatar.jpg"/>
  </div>
  <div class="main-bio">
    Lucie Wang is a proud dog slut (dog-amine junkie), a food porn addict, and a bilingual multi-hyphenate actor who studied acting at HB Studio and completed the Uta Hagen Institute’s full-time Hagen Summer Intensive in NYC, where she debuted as Lyan Kim in Line of Inquiry at the New York Theatre Festival.<br><br>

    She was a contestant on Japan’s most popular game show, “The Battle of Big Eaters: World Championship,” and ate 1.6 kg/3.3 lbs of food in half an hour. She thinks her mouth is only for enjoying gluttony and hopes to avoid the fate of the man in the movie Seven.<br><br>

    After graduating from Southern Methodist University with a BA in Film and Media Arts, Lucie launched her artistic career by working as an international crew member in the film, TV, and theater industries in China, Taiwan, and Australia.<br><br>

    Fluent in English and Mandarin Chinese, Lucie was born in Taipei and holds a far-flung background, including schooling in Taipei, Gold Coast, Beijing, Shanghai, Honolulu, LA, and Dallas. She views herself as a Pacific fusion cuisine, blending spices like her multicultural perspectives.<br><br>

    Lucie Wang是一個以身為狗奴、美食照觀癮者為傲的雙語演員。她曾在紐約的 HB Studio 學習表演，完成其朝九晚五的烏塔·哈根夏季密集課程，並在紐約戲劇節的《Line of Inquiry》中以 Lyan Kim 一角首次登台。
    她曾是日本最受歡迎的遊戲節目《2016火力全開大胃王：世界大賽》的台灣參賽者之一，並在半小時內吃掉了 1.6 公斤（3.3 磅）的滷肉飯。她認為自己的嘴巴就是用來享受饕餮之慾的，並希望避免電影《火線追緝令》中男主角的命運。
    Lucie畢業於南衛理公會大學電影與媒體藝術系，她曾在中國、台灣和澳洲的電影、電視及劇場界擔任幕後工作人員，以此開啟她的藝術生涯。精通英語和中文的 Lucie 出生於台北，擁有豐富的文化背景，她常常將自己比喻為一道融合了各種香料的太平洋融合料理，就像她多元文化的視角一樣。
  </div>
</div>
<style>
.main{¡
  display: flex;
  flex-direction: row;
  width: calc(100% - 5%);
  overflow: none;
  padding: 2% 0% 0% 5%;
}
.main-image {
  display: flex;
  flex-direction: row;
  padding: 0 5% 0 0;
  align-self: start;
  max-width : 500px;
}
.main-image-img {
  opacity: 0;
  transition: opacity 1.6s ease;
}
.main-image-img.loaded {
  opacity: 1;
}
.main-bio{
  padding: 0 5% 0 0;
  top: 0;
  padding-top:0;
  margin-top: -5px;
  align-self: center;
  line-height: 28.5px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins";
  color: hsla(0,0%,0%,1);
  /* letter-spacing: 1.001px; */
  transition: width 1s ease-in-out;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .main {
    display: grid;
    justify-content: center;
    grid-gap: 40px;
  }
  .main-bio{
    padding:0;
  }
  .main-image{
    display: grid;
    justify-self: center;
    padding:0;
  }
  .main-image-img{
    justify-self: center;
  }
}
.bottom-space{
  display: block;
  height: 300px;
  width: 100%;
}
</style>
